.profileWrapper {
  display: flex;
  text-align: left;
}

.profileDesc {
  background-color: sandybrown;
  width: 20em;
  height: 100vh;
}

.friendsList {
}

.addPhoto {
  position: fixed;
  top: 50%;
  right: 0;
}

.profileEventImg {
  width:50%;
  min-width: 6em;
}

.profileHero {
  height: 50vh;
  background: url(https://images.unsplash.com/photo-1510711789248-087061cda288?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c0fb01085600d87a52c99fd2aba7088&auto=format&fit=crop&w=1351&q=80);
}

.dp {
  width: 10em;
}

.profileContainerLeft {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

.leftInner {
width: 10em;
}
