.venuesHeader {
  background: url(https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d988bfc9b811f1bfb8d531272b83dda9&auto=format&fit=crop&w=1267&q=80);
  color: white;
  height: 40vh;
  background-size: cover;
  background-position-y: 60%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}


.venueListH1 {
  font-size: 4em;
  text-decoration: none;
  font-weight: 600;
  -webkit-text-stroke: 1px rgb(0, 188, 212);
  color: transparent;
  text-shadow: 2px -2px rgba(#3d3d3d, 0.48);
}

.venueListH1:hover {
  font-size: 3em;
  text-decoration: none;
  font-weight: 700;
  -webkit-text-stroke: 1px rgb(0, 188, 212);
  color: rgb(0, 188, 212);
  letter-spacing: 2px;
}


.venueHero {
  height: 40vh;
  background-size: cover;
  background-position: 25%;
  background-repeat: no-repeat;
  background: url(          https://images.unsplash.com/photo-1484597353563-eda230e1a15c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=27f2625126a7f9f8945ac39e6979cb5a&auto=format&fit=crop&w=1234&q=80);
}


.venueEvents {
  width: 960px;
  margin: 0 auto;
}

.venueEvents .crd {
  width: 100%;
}

.venueEvents .crd img {
  height: 12em
}

.venueDetails {
  display: flex;
  flex-direction: column;
}
