@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
font-family: 'Roboto', sans-serif;
}

div#home-container {
  display: flex;
  justify-content: center;
  z-index: -100;
}

div#home-hero {
  margin: 2em auto;
  background-image: url('../images/MusicIconsCircle-4-hero.png');
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

div#home-hero h1 {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-weight: 700;
  z-index: 1;
}
div#home-hero h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-transform: uppercase;
  z-index: 1;
}

div#home-banner {
  position: absolute;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c1d8;
  z-index: -1000;
}
.navLinkHelp{
  margin-right: 36px;
}
.signOutNav{
  margin-left: -39px;
  border: none;
  background-color: rgb(0, 188, 212);
  padding: .5em 1em;
  border-radius: 3px;
}
