* {
  box-sizing: border-box;
}

.container {
  margin: .5rem;
  max-width: 400px;
}

.title {
  padding-bottom: .25em;
  padding-bottom: 0;
}

.swipeContainer {
  padding: 1em;
}

.swipe {
  display: inline-block;
  padding: 5px;
    display: flex;
}

.hollow {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#arrow-buttons {
  display: flex;
  justify-content: space-between;
}

.left {
display: flex;
justify-content: start;
}

.right {
display: flex;
justify-content: end;
}
